/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 22, 2014, 3:55:51 PM
    Author     : olli
*/
ul#badges {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 15px;
}
ul#badges li {
  cursor: pointer;
  perspective: 1000;
  -webkit-perspective: 1000;
  text-align: center;
  float: left;
  margin: 0 15px 15px 0;
}
ul#badges li .badge-wrapper,
ul#badges li .name,
ul#badges li .description {
  width: 120px;
  height: 150px;
}
ul#badges li .badge-wrapper {
  position: relative;
}
ul#badges li .badge-wrapper .name,
ul#badges li .badge-wrapper .description {
  box-shadow: 0 0 10px -2px #888888;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: 0.6s;
  border-radius: 8px;
  border: solid #ccc 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: linear-gradient(top bottom, #eeeeee 0%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffcccccc', GradientType=0);
}
ul#badges li .badge-wrapper .name {
  z-index: 2;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
}
ul#badges li .badge-wrapper .name a {
  display: block;
}
ul#badges li .badge-wrapper .name img {
  height: 90px;
  margin: 15px 0;
}
ul#badges li .badge-wrapper .name p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  font-size: 12px;
  margin: 0;
  background: #fff;
  padding: 7px 10px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
ul#badges li .badge-wrapper .description {
  transform: rotateY(180deg);
  font-size: 12px;
  overflow: auto;
}
ul#badges li .badge-wrapper .description p {
  padding: .5em;
}
ul#badges li:hover .badge-wrapper .name,
ul#badges li:hover .badge-wrapper .description {
  border-color: #888;
  box-shadow: 0 0 10px -2px #666666;
}
ul#badges li:hover .badge-wrapper .name {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: rotateY(-179.9deg);
  -ms-transform: rotateY(-179.9deg);
  transform: rotateY(-179.9deg);
}
ul#badges li:hover .badge-wrapper .description {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
}
#badge-wrapper {
  overflow: hidden;
}
#badge-wrapper ul#badges li {
  cursor: pointer;
}
.badge-category-wrapper {
  overflow: hidden;
  margin: 0 0 1em 0;
}
.badge-category-reset-wrapper {
  float: left;
  margin: 0 3em 0 0;
}
ul.badge-categories {
  list-style: none;
  overflow: hidden;
  margin: 0;
}
ul.badge-categories li {
  float: left;
  margin: 0 3px 3px 0;
}
ul.badge-categories li button {
  cursor: pointer;
  outline: none;
  background: #fff;
  font-weight: normal;
  margin: 0;
  padding: 6px 14px;
  border-radius: 5px;
  text-shadow: none !important;
  border: solid #ababab 1px;
  color: #333 !important;
}
ul.badge-categories li button.active,
ul.badge-categories li button:hover {
  background: #ebebeb;
}
ul.badge-categories li button.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
#badge-selector {
  float: left;
}
#user-selector {
  margin-left: 180px;
}
#badge-header {
  padding: 1em;
  overflow: hidden;
  margin-bottom: 1em;
}
#badge-header #badge-image-wrapper {
  float: left;
  width: 120px;
}
#badge-header #badge-image-wrapper img {
  width: 100%;
}
#badge-header #badge-detail-wrapper {
  margin-left: 140px;
}
#badge-header #badge-detail-wrapper dl#badge-details dt,
#badge-header #badge-detail-wrapper dl#badge-details dd {
  padding-bottom: 3px;
}
#badge-header #badge-detail-wrapper dl#badge-details dt {
  font-weight: bold;
  float: left;
}
#badge-header #badge-detail-wrapper dl#badge-details dd {
  margin-left: 140px;
}
table.events td.image img {
  width: 22px;
}
#badge-issue-wrapper {
  margin-left: 280px;
}
#badge-issue-wrapper #badge-issue-details {
  width: 265px;
  float: left;
  margin-left: -280px;
}
#badge-issue-wrapper #badge-issue-details #badge-issue-image {
  padding-bottom: 1.5em;
  text-align: center;
}
#badge-issue-wrapper #badge-issue-details #badge-issue-image img {
  max-width: 100%;
}
#badge-issue-wrapper #badge-issue-details #badge-issue-data div {
  padding: 3px 5px;
  margin-bottom: 1px;
  background: #f8f8f8;
}
#badge-issue-wrapper #badge-issue-form-wrapper {
  margin-left: 0;
  float: left;
  width: 100%;
}
#badge-issue-wrapper #badge-issue-form-wrapper table {
  width: 100%;
}
#badge-issue-wrapper #badge-issue-form-wrapper .userlisttable {
  min-width: 0;
}
#badge-issue-wrapper #badge-issue-form-wrapper .userlisttable td.lrfieldlists {
  width: 40%;
}
#badge-issue-wrapper #badge-issue-form-wrapper .userlisttable td.lrfieldlists select {
  max-width: none;
}
#badge-issue-wrapper #badge-issue-form-wrapper .userlisttable td.lrbuttons {
  width: 20%;
  vertical-align: middle;
}
/* From Bootstrap mixins */
/* From Bootstrap mixins */
/* From Bootstrap mixins */
/* From Bootstrap mixins */
/* From Bootstrap mixins */
/* From Boostrap mixins */
